services:
  mongo:
    image: mongo:latest
    container_name: keepdm_mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: keepdm_db
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
